.testimonials-section {
  background-color: #d9f3e5;
  align-items: center;
}

.container {
  display: grid;
  grid-template-columns: 45fr 55fr;
  padding: 0 3.2rem;
  max-width: 120rem;
  margin: 0 auto;
  padding: 9.6rem;
  gap: 3.2rem;
}

.testimonials-container {
}

.img {
  max-width: 60rem;
}
