.dashboard {
  max-height: calc(100vh - 9.6rem - 99.6rem);
}

.heading {
  font-family: inherit;
  font-size: 4.8rem;
  font-weight: 600;
  margin: 4.8rem 50rem;
}

.list {
  padding: 27rem;
  font-family: inherit;
  font-size: large;
  font-weight: 500;
}
