.dashboard {
  /* max-height: 80vh; */
  min-height: calc(100vh - 9.6rem - 9.6rem);
  padding: 3.2rem 6.4rem 3.2rem 6.4rem;
  background-color: #d9f3e5;
}

.box {
  margin: 0 auto;
  max-width: 130rem;
  max-height: 100%;
  display: grid;
  grid-template-columns: 1fr 4fr;
  /* padding: 4.8rem 0; */
  /* padding-bottom: 4.8rem; */
  justify-content: center;
  align-items: center;
  gap: 6.4rem;
}
